<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="60">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HHmmss.SSS} %level{length=1} [%C.%M:%L] - %m%n" />
		</Console>
		<RollingFile name="rollingfile" fileName="logs/app.log" filePattern="logs/app.log.%d{yyyyMMdd}.log">
			<PatternLayout pattern="%d{yyyyMMddHHmmss.SSS} [%t] %5p %C.%M:%L - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="all">
			<AppenderRef ref="console" />
			<AppenderRef ref="rollingfile" />
		</Root>
	</Loggers>
</Configuration>